.bundle/
.rspec_status
.yardoc
coverage/
doc/
log/*.log
pkg/
spec/fixtures/dummy/db/*.sqlite3
spec/fixtures/dummy/db/*.sqlite3-*
spec/fixtures/dummy/db/*.sqlite3-journal
spec/fixtures/dummy/log/*.log
spec/fixtures/dummy/storage/
spec/fixtures/dummy/tmp/
spec/reports/
tmp/

